<div class="tab-pane" id="tab1" role="tabpanel">
    <h2 class="text-center">個人資料</h2>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card col-8 shadow-lg rounded-5 p-5">
                <div class="row align-items-center mb-3">
                    <div class="col-8 border-bottom">
                        <h4 class="mb-0" id="myName">周星星</h4>
                        <small class="text-muted">會員編號：#9527</small>
                    </div>
                </div>

                <div class="row mb-3" style="margin-top: 20px;">
                    <div class="col-4">
                        <i class="bi bi-envelope me-1"></i><span>電子郵件</span>
                    </div>
                    <div class="col-8">xinxinchu@example.com</div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <i class="bi bi-phone-vibrate"></i><span> 手機</span>
                    </div>
                    <div class="col-8">0912-345-678</div>
                </div>

                <div class="text-end">
                    <!-- <button class="btn btn-primary rounded-pill" onclick="showPage('editPage')">編輯資料</button> -->
                    <button class="btn btn-primary rounded-pill" onclick="showEditPage()">編輯資料</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editPage" style="display:none;">
    <h2 class="text-center">編輯資料</h2>
    <div class="container py-5 ">
        <div class="row justify-content-center">

            <div class="card col-8 shadow-lg rounded-5 p-5 ">
                <form onsubmit="saveEdit(event)">
                    <!-- 姓名 -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">姓名:</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            @* <span class="me-3">周星星</span> *@
                            @* <button type="button" class="btn btn-sm btn-primary">修改</button> *@
                            <input type="text" class="form-control w-50" id="cName" name="cName" value="" required>

                        </div>
                    </div>

                    <!-- Email -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            @* <span class="me-3">nihao@gmail.com</span>
                            <button type="button" class="btn btn-sm btn-primary">修改</button> *@
                            <input type="email" class="form-control w-50" id="cEmail" name="cEmail" value="" required>
                        </div>
                    </div>

                    <!-- phone -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">手機:</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            @* <span class="me-3">0912-345-678</span>
                            <button type="button" class="btn btn-sm btn-primary">修改</button> *@
                            <input type="tel" class="form-control w-50" id="cPhone" name="cPhone" value="" required>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success">儲存</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelEdit()">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>