@{
    var userId = ViewData["UserId"];
    var userBorrow = ViewData["UserBorrow"];
}

<input id="box_borrow" type="text" value="@userBorrow" class="d-none" />
<form asp-area="Frontend" asp-controller="Home" asp-action="Reserve" method="post" class="d-none">
    <input id="id_user" type="text" name="user" value="@userId" />
    <input id="id_collection" type="text" name="collection" />
    <input id="box_statusR" type="text" name="status" />
    <button type="submit" id="btn_reserveS"></button>
</form>
<a asp-area="Frontend" asp-controller="Access" asp-action="LoginC" class="d-none btn_guideLC"></a>